<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287559323491-mqusu3cv2jeogipjbhmvmu52m8l7ljgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287559323491-mqusu3cv2jeogipjbhmvmu52m8l7ljgn</string>
	<key>API_KEY</key>
	<string>AIzaSyCKJ8WLh3GfrXM4KGUYjCQWnuRsrTGepE0</string>
	<key>GCM_SENDER_ID</key>
	<string>287559323491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS329E.StudyCard</string>
	<key>PROJECT_ID</key>
	<string>studycard-f7429</string>
	<key>STORAGE_BUCKET</key>
	<string>studycard-f7429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287559323491:ios:b3f2b96760aaf342478d56</string>
</dict>
</plist>